
body{
    background: linear-gradient(rgb(29, 29, 29), rgb(124, 119, 124), rgb(29, 29, 29));

}

h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: -7px;
    
}

.btn, .portifolio2{
    width: 50%;
    padding: 20px;
    font-weight: bold;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(44, 44, 44);
    margin-top: 25px;    
    cursor: pointer;
}

.portifolio2{
margin-top: 50px;
}

.twitter{
    border: 3px solid aqua;
    color: aqua;
    box-shadow: 7px 7px 15px aqua;
}

.portifolio{
    border: 3px solid red;
    color: red;
    box-shadow: 7px 7px 15px red;
}

.Blog{
    border: 3px solid lightgreen;
    color: lightgreen;
    box-shadow: 7px 7px 15px lightgreen;
}

.instagram{
    border: 3px solid lightsalmon;
    color: lightsalmon;
    box-shadow: 7px 7px 15px lightsalmon;
}
.artstation{
    border: 3px solid rgb(69, 133, 207);
    color:rgb(69, 133, 207);
    box-shadow: 7px 7px 15px rgb(69, 133, 207);
}
.behance{
    border: 3px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    box-shadow: 7px 7px 15px rgb(255, 255, 255);
}
.center{
    align-items: center;
    text-align: center;
}
footer{
    margin: 100px;
}